<h1>Login</h1>
<% if(messages.error) {%>
  <%= messages.error %>
<% } %>
<form action="/login" method="POST">

  <hr>
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
  </div>
  <hr>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
  </div>
  <hr>
  <button type="submit">Login</button>
</form>

<a href="/register">Register</a>